*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  .section {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 0;
    gap: 5%;
  }
  .box {
    background-color: white;
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 3%;
    height: 300px;
    padding: 50px;
  }
  
  .icon-content i {
    width: 35%;
    font-size: 100px;
  }
  
  .icon-content {
    border-right: 1px solid blue;
    margin-right: 50px;
    width: 35%;
  }