*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: lightgrey;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10% 0;
  }
.box {
    padding: 50px;
    background-color: rgba(127, 119, 119, 0.301);
    text-align: left;
    display: flex;
    gap: 40px;
}
.text-continent{
    gap: 25px;
    padding: 70px;
}
p{
    padding: 30px;
}
